@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes gradientChange {
    0% {
      background-position: 0%;
    }

    50% {
      background-position: 100%;
    }

    100% {
      background-position: 0%;
    }
  }

  .gradient {
    background: linear-gradient(90deg);
    background-size: 200% 200%;
  }

  .element-to-rotate {
    animation: gradientChange 10s ease infinite;
  }
}

.draggable {
  -webkit-app-region: drag;
}

.button {
  -webkit-app-region: no-drag;
}
